.Login .App {
    text-align: center;
  }
  .Login body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .Login .lContainer {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 38px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 100vh;
    background-color: #ffffff;
  }
  
  .Login .spanLink{
    color: #1890ff;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
  }
  
  
  
  
  .Login .App-title {
    font-size: 1.5em;
  }
  
  .Login .App-intro {
    font-size: large;
  }
  
  
  .Login .login-form {
    width: 300px;
  }
  .Login .login-form-forgot {
    float: right;
  }
  .Login .login-form-button {
    width: 100%;
  }
  
  .Login .hidden {
    display: none;
  }
  
  .Login .lItem {
    width:300px;
  }
  
  .Login .loginForm {
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
      margin-top: -60px;
      margin-left:-30px;
      margin-right:-30px;
      border-radius: 8px;
      border: 1px solid #d8d8da;
  }
  .Login .loginImage {
    margin-top: -160px;
    margin-bottom: 70px;
  }
  
  .Login tbody {
    font-size: 14px;
  }
  
  .Login .footerLink {
    text-decoration: none;
    color: rgb(206, 212, 217);;
  }